---
layout: page
title: ScottKirvan
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">SCOTT KIRVAN</h1>
	  <p class="animated fadeInUp">VFX Supervision, Virtual Production, & Technical Consulting.<br> Program, Project, & Product Management.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Wrapper Start -->
<a name="about"></a>
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Me</h2>
	    <p>VFX, Virtual Production, Tech Enthusiast, Multidisciplinary Creative</p>
	  </div> <!-- end section title -->
	  <p>Best known as co-author of the globally recognized <a href="https://en.wikipedia.org/wiki/Brazil_R/S">Brazil Rendering System</a> - a high-performance, production quality GI ray trace renderer.</p>

	  <p>My history is primarily as a technical specialist and entrepreneur. I love working alongside creatives to achieve a vision. I enjoy working to understand a problem-space and serving as a liaison between teams and parties with varying, sometimes conflicting goals -- and with differing languages of expertise. I'm hands on, enjoy working on-set, and thrive under pressure, especially when I'm troubleshooting and improvising creative solutions to on-the-spot problems. I pride myself on my artistic sensibilities and my ability to match looks on projects -- whether matching a non-photoreal property or helping to invisibly integrate VFX elements into photographed imagery.</p>
	</div> <!-- end block -->
      </div><!-- end col-md-7 -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
	</div> <!-- end  block -->
      </div><!-- end col-md-5 -->
    </div> <!-- row -->
  </div> <!-- end container -->
</section> <!-- end intro -->

<!-- Wrapper Start -->
<!--<a name="reel"></a>
<section id="intro">
  <div class="container">
  <div class="row"> -->
      <!--
    <div class="section-title">
      <h2> The View from 30,000 feet </h2> 
	  </div> <!-- section-title -- >
      <center>
        <table><tr><td>
	  <ul>
	    <li>• 5+ years industry ”production staff” roles; Supervision, Technical Producer, Consultant, Bids;</li>
	    <li>• 9 years ”in-Studio;” Animation, VFX, TD, Artist;</li>
	    <li>• 20+ years executive, supervisory and leadership experience;</li>
	    <li>• 10+ years Technical Project/Program/Product Management;</li>
	    <li>• History of successful contract negotiations, grant writing, and proposals;</li>
	    <li>• Deep understanding of optical SFX, VFX, and animation techniques.</li>
	  </ul>
        </td></tr></table>
      </center>
    </div>
  </div>
</section> -->

<!-- Wrapper Start -->
<!--
<a name="reel"></a>
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <center>
	  <h2>VFX Reel</h2>
	    <iframe src="https://player.vimeo.com/video/493199760" width="640" 
	    height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </center>
      </div> <!-- section title -- >
    </div>
  </div>
</section>
-->

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>THE VIEW FROM 30,000 FEET</h2>
      <center>
        <table><tr><td>
	  <ul>
	      <li>• 5+ years industry ”production staff” roles; Supervision, Technical Producer, Consultant, Bids;<br><br></li>
	      <li>• 9 years ”in-Studio;” Animation, VFX, TD, Artist;<br><br></li>
	      <li>• 20+ years executive, supervisory and leadership experience;<br><br></li>
	      <li>• 10+ years Technical Project/Program/Product Management;<br><br></li>
	      <li>• History of successful contract negotiations, grant writing, and proposals;<br><br></li>
	      <li>• Deep understanding of optical SFX, VFX, and animation techniques.<br><br></li>
	  </ul>
        </td></tr></table>
      </center>
      <br>
      <!--<a href="#" class="btn btn-view-works">View Filmography</a>-->
    </div>
  </div>
</div>
</section>

<!-- Wrapper Start -->
<a name="reel"></a>
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <center>
	  <h2>VFX Reel</h2>
	  <div style="position:relative; padding-bottom:56.25%; padding-top:35px;height:0;overflow:hidden;">
	    <iframe src="https://player.vimeo.com/video/493199760" width="640" 
	   style="position:absolute; top:0; left:0; width:100%; height:100%;"
	    height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
	  </div>
        </center>
      </div> <!-- section title -->
    </div>
  </div>
</section>


<!-- Service Start -->
<!--
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Branding</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Web Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>App Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <!--<h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
	  <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a> -->
        </div>
      </div>
    </div>
  </div>
  </section> 

<!-- Content Start -->
<!--
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  </section> -->
