<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!--
        <div class="footer-manu">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
        </div>
      -->
      <ul class="social-icons">
        <!--
            <li>
              <a href="http://www.themefisher.com"><i class="fa fa-google"></i></a>
            </li>
        -->
            <li>
		<a href="{{ site.baseurl }}/"><i class="fa fa-home"></i></a>
            </li>
            <li>
              <a href="http://www.linkedin.com/in/scottkirvan"><i class="fa fa-linkedin-square"></i></a>
            </li>
            <li>
              <a href="http://www.github.com/scottkirvan"><i class="fa fa-github-square"></i></a>
            </li>
            <li>
              <a href="mailto:vfx@scottkirvan.com"><i class="fa fa-envelope"></i></a>
            </li>
            <li>
              <a href="http://www.vimeo.com/scottkirvan"><i class="fa fa-vimeo-square"></i></a>
            </li>
            <li>
              <a href="http://www.twitter.com/cptvideo"><i class="fa fa-twitter-square"></i></a>
            </li>
            <li>
              <a href="http://www.facebook.com/scottkirvan"><i class="fa fa-facebook-square"></i></a>
            </li>
            <li>
              <a href="http://www.imdb.me/ScottKirvan"><i class="fa fa-imdb"></i></a>
            </li>
          </ul>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
